In [1]:
import pandas as pd

In [40]:
prod_struct_data = pd.read_csv('../data/prod_struct_data.csv')

In [41]:
prod_struct_data

,类别,招商银行,光大银行,兴业银行,平安银行,浙商银行,民生银行,浦发银行,中信银行,广发银行,华夏银行
0,结构性存款,0.1333,0.1111,0.0227,0.1628,0.0577,0.0625,0.0588,0.1639,0.1429,0.0877
1,大额存单,0.3778,0.2222,0.1705,0.1163,0.0192,0.0208,0.1471,0.1148,0.1071,0.1053
2,定期存款,0.0444,0.2222,0.0341,0.0465,0.1923,0.0208,0.1324,0.0656,0.0893,0.1053
3,外币理财,0.0444,0.0556,0.2273,0.0465,0.0962,0.1042,0.0588,0.0984,0.1250,0.1404
4,活期理财,0.1111,0.1111,0.2273,0.0233,0.3077,0.4167,0.1029,0.0820,0.3036,0.2632
5,贵金属理财,0.0667,0.1111,0.2045,0.3953,0.2885,0.2500,0.2500,0.2295,0.1964,0.0351
6,权益类理财,0.2222,0.1667,0.1136,0.2093,0.0385,0.1250,0.2500,0.2459,0.0357,0.2632

In [42]:
prod_struct_data = pd.DataFrame(prod_struct_data.values.T, index=prod_struct_data.columns, columns=prod_struct_data['类别'])

In [43]:
prod_struct_data['银行'] = prod_struct_data.index

In [46]:
lst = list(prod_struct_data.columns)

In [47]:
lst

['结构性存款', '大额存单', '定期存款', '外币理财', '活期理财', '贵金属理财', '权益类理财', '银行']

In [48]:
prod_struct_data = prod_struct_data[['银行', '结构性存款', '大额存单', '定期存款', '外币理财', '活期理财', '贵金属理财', '权益类理财']]

In [49]:
prod_struct_data.to_csv('/Users/Cyan/Documents/OneConnect/bank-manager-tool/backend/data/prod_struct_data.csv', index=False)

In [52]:
df = pd.read_csv('/Users/Cyan/Documents/OneConnect/bank-manager-tool/backend/data/prod_struct_data.csv')
df

     银行   结构性存款    大额存单    定期存款    外币理财    活期理财   贵金属理财   权益类理财
0  招商银行  0.1333  0.3778  0.0444  0.0444  0.1111  0.0667  0.2222
1  光大银行  0.1111  0.2222  0.2222  0.0556  0.1111  0.1111  0.1667
2  兴业银行  0.0227  0.1705  0.0341  0.2273  0.2273  0.2045  0.1136
3  平安银行  0.1628  0.1163  0.0465  0.0465  0.0233  0.3953  0.2093
4  浙商银行  0.0577  0.0192  0.1923  0.0962  0.3077  0.2885  0.0385
5  民生银行  0.0625  0.0208  0.0208  0.1042  0.4167  0.2500  0.1250
6  浦发银行  0.0588  0.1471  0.1324  0.0588  0.1029  0.2500  0.2500
7  中信银行  0.1639  0.1148  0.0656  0.0984  0.0820  0.2295  0.2459
8  广发银行  0.1429  0.1071  0.0893  0.1250  0.3036  0.1964  0.0357
9  华夏银行  0.0877  0.1053  0.1053  0.1404  0.2632  0.0351  0.2632

In [53]:
bank_data1 = df[df['银行'] == '平安银行']
bank_data2 = df[df['银行'] == '光大银行']

In [54]:
bank_data12 = pd.concat([bank_data1, bank_data2], axis=0)
bank_data12

     银行   结构性存款    大额存单    定期存款    外币理财    活期理财   贵金属理财   权益类理财
3  平安银行  0.1628  0.1163  0.0465  0.0465  0.0233  0.3953  0.2093
1  光大银行  0.1111  0.2222  0.2222  0.0556  0.1111  0.1111  0.1667

In [55]:
tmp = bank_data12.to_dict(orient='records')

In [56]:
tmp

[{'银行': '平安银行',
  '结构性存款': 0.1628,
  '大额存单': 0.1163,
  '定期存款': 0.0465,
  '外币理财': 0.0465,
  '活期理财': 0.0233,
  '贵金属理财': 0.3953,
  '权益类理财': 0.2093},
 {'银行': '光大银行',
  '结构性存款': 0.1111,
  '大额存单': 0.2222,
  '定期存款': 0.2222,
  '外币理财': 0.0556,
  '活期理财': 0.1111,
  '贵金属理财': 0.1111,
  '权益类理财': 0.1667}]

In [17]:
tmp = prod_struct_data.to_dict(orient='records')

In [18]:
tmp

[{0: '结构性存款',
  1: '大额存单',
  2: '定期存款',
  3: '外币理财',
  4: '活期理财',
  5: '贵金属理财',
  6: '权益类理财'},
 {0: 0.1333, 1: 0.3778, 2: 0.0444, 3: 0.0444, 4: 0.1111, 5: 0.0667, 6: 0.2222},
 {0: 0.1111, 1: 0.2222, 2: 0.2222, 3: 0.0556, 4: 0.1111, 5: 0.1111, 6: 0.1667},
 {0: 0.0227, 1: 0.1705, 2: 0.0341, 3: 0.2273, 4: 0.2273, 5: 0.2045, 6: 0.1136},
 {0: 0.1628, 1: 0.1163, 2: 0.0465, 3: 0.0465, 4: 0.0233, 5: 0.3953, 6: 0.2093},
 {0: 0.0577, 1: 0.0192, 2: 0.1923, 3: 0.0962, 4: 0.3077, 5: 0.2885, 6: 0.0385},
 {0: 0.0625, 1: 0.0208, 2: 0.0208, 3: 0.1042, 4: 0.4167, 5: 0.25, 6: 0.125},
 {0: 0.0588, 1: 0.1471, 2: 0.1324, 3: 0.0588, 4: 0.1029, 5: 0.25, 6: 0.25},
 {0: 0.1639,
  1: 0.1148,
  2: 0.0656,
  3: 0.0984,
  4: 0.08199999999999999,
  5: 0.2295,
  6: 0.2459},
 {0: 0.1429, 1: 0.1071, 2: 0.0893, 3: 0.125, 4: 0.3036, 5: 0.1964, 6: 0.0357},
 {0: 0.0877, 1: 0.1053, 2: 0.1053, 3: 0.1404, 4: 0.2632, 5: 0.0351, 6: 0.2632}]

In [24]:
bank1 = '招商银行'
bank2 = '平安银行'

In [25]:
columns = ['产品类别', bank1, bank2]

In [30]:
bank1_struct_data = prod_struct_data[columns]

In [31]:
tmp = bank1_struct_data.to_dict(orient='records')

In [32]:
tmp

[{'产品类别': '结构性存款', '招商银行': '13.33%', '平安银行': '16.28%'},
 {'产品类别': '大额存单', '招商银行': '37.78%', '平安银行': '11.63%'},
 {'产品类别': '定期存款', '招商银行': '4.44%', '平安银行': '4.65%'},
 {'产品类别': '外币理财', '招商银行': '4.44%', '平安银行': '4.65%'},
 {'产品类别': '活期理财', '招商银行': '11.11%', '平安银行': '2.33%'},
 {'产品类别': '贵金属理财', '招商银行': '6.67%', '平安银行': '39.53%'},
 {'产品类别': '权益类理财', '招商银行': '22.22%', '平安银行': '20.93%'}]

In [35]:
for col in list(bank1_struct_data.columns).remove('产品类别'):
    bank1_struct_data[col] = bank1_struct_data[col].astype(float)

TypeError: 'NoneType' object is not iterable